
/*
Colors used:
Primary Color (blue): #8DB6B9;
Secondary Color (dark gray): #555555;
Accent Color (dark velvet): #4C4C6D; yellow (hoover state) FFCE45;
Text (dark): #1B2021
Text (light): #FBF3DA
Storm: #112432 | Jean: #5e7783 | Royalty: #4d1635 | Lavender: #9e9199 | Soft Grey: #d0d1d3;
*/
img {
  width: 100%;
}
a {
  color: #FBF3DA;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #FBF3DA;
}
a:hover {
  color: #FFCE45;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:focus {
  color: #FFCE45;
  text-decoration: underline;
}

body {
  background-color: #8DB6B9;
  font-family: 'Oswald', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #1B2021;
}

h1 {
  line-height: 1.4;
  font-size: 32px;
  font-weight: 700;
}

h2, h3 {
  line-height: 1.4;
  font-size: 24px;
  font-weight: 700;
}
p {
line-height: 1.4;
font-size: 20px;
font-weight: 300;
}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #4C4C6D;
  color: #FBF3DA; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s opacity;
}
.button:active {
  background-color: #FFCE45;
  color: #555555;
  text-decoration: none;
}
.button:hover {
  background-color: #FFCE45;
  color: #555555;
  text-decoration: none;
}

.button.contact {
  background-color: #8DB6B9;
  color: #555555;
  text-transform: uppercase;
}

.button.contact:hover {
  background-color: #FFCE45;
  color: #555555;
}
.button.contact:active {
  background-color: #FFCE45;
  color: #555555;
}
header
{
  background-color: #55555;
  color: #FBF3DA;
}


footer
{
  background-color: #4C4C6D;
  font-family: 'Oswald', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #FBF3DA;
}
